h1 {
    color: red;
    background-color: yellow;
    border: 1px solid black;
}


p {
    color: green;
    background-color: white;
    text-align: center;
}

li {
    color: purple;
}

.nav_item {
    color: red;
}

.contact_item {
    font-weight: bold;

}

.footer_year {
    text-align: center;
}

.section_title {
    color: blue;
}

.footer_rsschool {
    text-align: end;
}

.nav_CV {
    text-align: center;
}

.code_copy {
    background-color: lightgray;
}


.zoomingout {
    max-width: 1536px;
    margin: auto;
    background: white;
    padding: 10px;
}